extends dutch_layout

block content

    p test

    input(onclick="responsiveVoice.speak('Hello World');", type='button', value='Play')

    script.
        $('p').on('click',function(){console.log('test');}); var socket = io.connect('https://tawabgooglehome.herokuapp.com/dutch'); console.log('test'); socket.on('speech', function(data){ console.log(data.text); });