extends layout

block content
  h1= title

  br

  p Draadnagels: kun je vinden in {rij 4} {schap 6}


  //p
   //img(src="images/schap1.jpg" alt="image not found")

  p
   img(src= image2 )

  script var socket = io.connect('http://localhost:3000'); socket.on('news', function (data) { console.log(data); socket.emit('vanuitClient', { my: 'data' }); });
  

