extends layout

block content

  #main-container.container-fluid

    img(src='images/logonew.png', width='270')


    h1= title

    #loading
      i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw
      span.sr-only Loading...

    br
    .col-sm-12
     img#GHimg(src='images/googleHomeIcon.svg', width='600')


    #container-product
      #product1 
       h1


      p
       img#product1img(src= image2)


   #buttons.container-fluid
    .row
      .col-sm-6
        | test
      .col-sm-6
        | test



