extends layout

block content

    #header-container.container-fluid
        .row
            .col-md-5
                .multimate-logo
                img(src='images/multimateLogo.jpg', width='150')
                span.english-only &nbsp; <u>English</u> only

            #op-zoek-naar.col-md-3.col-sm-3
                h2 Try me! <br /> Start your sentence with: "Hey, E-sites"
                .vraag-style
                    p Hey E-sites, what can you do?
            //#header-white-background.col-md-5.col-md-offset-1
                //p test


    #main-container.container-fluid
        .row

            #welcome-text.col-md-5.col-sm-5
                h1 Welcome to <br /> Multimate E-sites

                h3 I am designed to help with problems. At this moment the only functionality I have is to find <u>hammers</u>. I also only understand <u>English</u>.
                p E-sites Virtual Assistant

            #welcome-image.col-md-5
                //img(src='images/bgNew.jpg', width='600')


        #loading-container.row
            #loading.col-md-5.col-sm-5.col-md-offset-2
                i.spinner.i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw
                h1 Talking..

        br

        #breadcrumb-container.col-md-12
            nav.breadcrumb
                a.breadcrumb-item(href='#') Home &nbsp;
                    i.fa.fa-angle-right(aria-hidden='true')
                a.breadcrumb-item(href='#')  Tools &nbsp;
                    i.fa.fa-angle-right(aria-hidden='true')
                a.breadcrumb-item(href='#')  Hammers &nbsp;
                    i.fa.fa-angle-right(aria-hidden='true')
                span.breadcrumb-item.active  Bahco klauwhamer 429-16

        #product-container.row
            #image-container.col-md-6.col-sm-6
                img#product1img(src= image2)

            #container-product.col-md-5.col-sm-5
                #product1
                    h1.product-name <br />
                    p.product-description Klauwhamers met mangaanstalen steel Achthoekig kopgedeelte en ronde baan. Helder gepolijst. Steel bestand tegen een trekkracht van 150 kg voor de 450 gr. en 570 gr. Comfortabele zwarte greep.

                    .follow-up-container.col-md-8.col-sm-8
                        .follow-up
                            h2 Need more info? try asking:
                            .vraag-style
                                p Can you give me more information?


        #suggestion-products-container.container-fluid
            h1 You might also like
            .row
                .col-md-3
                    p test
                .col-md-3
                    p test
                .col-md-3
                    p test

    #footer-container.container-fluid
        .row
            #labs-logo.col-md-3
                img(src='images/logonewkopie2.png', width='200')


