doctype html
html
    head
        title= title
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
        link(rel='stylesheet', href='/stylesheets/style_v2.css')
        script(src='/javascripts/script.js')
        script(src='/javascripts/siriWave.js')
        script(src='/javascripts/siriWave9.js')
        script(src='/javascripts/siriWaveGIT.js')
    body
        block content

script.
    var socket = io.connect('https://voice-bouwmarkt-labs.e-staging.nl/');

    var $containerClassic = $("#container-classic");
    var $welcomeText = $("#welcome-text");
    var $opZoekNaar = $("#op-zoek-naar");
    var $productContainer = $("#product-container");
    var $containerProduct = $("#container-product");
    var $goodByeText = $("#goodbye-text");
    var $allHammers = $("#all-hammers");

    socket.on('query', function(data){
       console.log(data.query);
       $("#user-query-p").text(data.query);
    });


    // TALKING..
    socket.on('loading', function(data){


        $allHammers.fadeOut();

        if(data.talking === "true"){

        }

        // Hide (start) visuals and show loading
        $welcomeText.fadeOut('slow', function () {
            $opZoekNaar.fadeOut('slow', function () {
                $containerClassic.fadeIn('slow');
            });
        });

        // Hide final products and show loading
        $productContainer.fadeOut('slow', function () {
            $opZoekNaar.fadeOut('slow', function () {
                $containerClassic.fadeIn('slow');
            });
        });


    });



    socket.on('productName', function (data) {

    });

    // RESET TO BEGIN
    socket.on('reset', function(data){

        if($containerClassic.css("display") !== "none"){
            $containerClassic.fadeOut('slow', function () {
                $goodByeText.fadeIn('slow', function () {
                    setTimeout(function () {
                        $goodByeText.fadeOut('fast', function(){
                            $opZoekNaar.fadeIn('slow', function () {
                                $allHammers.fadeOut();
                                $welcomeText.fadeIn();
                            })
                        })
                    }, 4000);
                });
            });
        }

        if ($productContainer.css("display") !== "none") {
            $productContainer.fadeOut('slow', function () {
                $goodByeText.fadeIn('slow', function () {
                    setTimeout(function () {
                        $goodByeText.fadeOut('fast', function () {
                            $opZoekNaar.fadeIn('slow', function () {
                                $allHammers.fadeOut();
                                $welcomeText.fadeIn();
                            })
                        })
                    }, 4000);
                });
            });
        }


    });


    // NO PRODUCT FOUND
    socket.on('noProduct', function (data) {

    });

    // SHOW FINAL PRODUCT
    socket.on('productDetails', function(data){

        console.log('hide all hammers');
        $allHammers.hide();

        if ($welcomeText.css("display") !== "none") {
            $welcomeText.fadeOut('slow', function () {
                $opZoekNaar.fadeOut('slow', function () {

                    $("#product1img").attr("src", data.productImageNew);
                    //$(".product-description").text(data.productDescription);
                    $(".product-name").text(data.productName);
                    $(".product-location").text(data.productLocation);
                    $(".product-price").text(data.productPrice);

                    $productContainer.fadeIn();
                    $containerProduct.fadeIn();
                });
            });
        }


        $containerClassic.fadeOut('slow', function () {
            $opZoekNaar.fadeOut('slow', function () {
                $("#product1img").attr("src", data.productImageNew);
                //$(".product-description").text(data.productDescription);
                $(".product-name").text(data.productName);
                $(".product-location").text(data.productLocation);
                $(".product-price").text(data.productPrice);

                $productContainer.fadeIn();
                $containerProduct.fadeIn();
            });

        });



    });

    //TODO Prijs toevoegen (database)




script.
    var hammerArray = [["Agriculture hammer", "Brick Hammer", "Claw hammer", "Electricians hammer", "Emergency hammer", "Prospector Hammer", "Regular hammer", "Rubber faced hammer", "Wooden hammer", "Sledge hammer"]];

    function makeUL(array) {
        var list = document.createElement('ul'); for(var i = 0; i < array.length; i++){ var item = document.createElement('li'); item.appendChild(document.createTextNode(array[i])); list.appendChild(item); } return list;
    }

    socket.on('allHammers', function(data){

        $welcomeText.fadeOut('slow', function () {
            $opZoekNaar.fadeOut('slow', function () {
                $productContainer.fadeOut('fast');
                $containerClassic.fadeOut('fast');
                $allHammers.fadeIn();
            });
        });


    });

    // Click on product
    $("#product1img").click(function () {
        alert("You can find this product in Section B, Row 4");
    });





    function waitForListeningTag() {
        setTimeout(function () {
            $("#loading-listening").fadeIn();
        }, 6000);
    }

    var siriWave = new SiriWave({
        container: document.getElementById('siri-container'),
        width: 640,
        height: 200,
        speed: 0.2,
        color: '#000'
    });

















