@font-face {
    font-family: "myfont";
    src: url("Ciutadella-Light.woff2") format('woff');
    font-weight: 100;
}

@font-face {
    font-family: "myfont";
    src: url("Ciutadella-Medium.woff2") format('woff');
    font-weight: 400;
}

@font-face {
    font-family: "myfont";
    src: url("Ciutadella-Regular.woff2") format('woff');
    font-weight: 600;
}

@font-face {
    font-family: "myfont";
    src: url("Ciutadella-SemiBold.woff2") format('woff');
    font-weight: bold;
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
}


body {
    padding-top:20px;
    /*padding: 50px;*/
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif !important;*/
    /*
        background: url('../images/background.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    */
    background-color: #ecece8;

    /* #ffd540 */

    font-family: 'myfont', Fallback, sans-serif;

}

a {
    color: #00B7FF;
}

h1{
    font-size: 3.5em;
    font-weight: bold;
    line-height: 1;
}

.row{
    /*margin-left: 0px;*/
}

#main-container{
    /*!*border: 1px solid gray;*!*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*!*background: url(../images/bgNew.jpg) no-repeat center center fixed;*!*/
    /*background: url(../images/helpdesk1.jpg) no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: contain;*/
    /*height: 800px;*/
    /*transition: background 1s linear;*/
}

#buttons{
    display: none;
}

#product1img{
    /*box-shadow: 8px 8px 10px #aaa;*/
}

#GHimg{
    /*float:right;*/
}

#loading-talking{
    display: none;
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#loading-listening{
    display: none;
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#loading-listening h1{
    margin-top: 150px;
}

#loading-talking2{
    display: none;
}


#welcome-text{
    text-align: center;
}

#welcome-text h1{
    font-weight: 800;
}

#welcome-text h3{
    font-weight: 200;
    font-size: 1.8em;
}

#header-container{
    padding: 0;
    margin: 0;
    margin-bottom:20px;
    margin-left: 15px;
}

#header-white-background{
    background: white;
    height:64px;
}

#op-zoek-naar{
    background: #ffd540;
    float: right;
}

#hint2{
    background: #ffd540;
    display: none;
}


.try-me{
    font-size: 2em;
    font-weight: bold;
    padding: 2.5rem 1rem 1rem;
    line-height: 1;
}

.vraag-style{
    font-weight: normal;
    line-height: 1.25;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    border: 1px solid transparent;
    position: relative;
    padding: .563rem 1.25rem;
    border-radius: .25rem;
    transition: all 0.2s ease-in-out;
    background: #ffd540;
    color: #0f0e11;
    border-radius: 20px;
    padding-right: 2rem;
    position: relative;
    display: block;
    background-color: #0f0e11;
    color: #fff;
    float: left;
    padding-top: 8px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    font-size: 1.2em;
}

/*#background-image-container{*/
/*background: url(../images/bgNew.jpg) no-repeat center center fixed;*/
/*-webkit-background-size: cover;*/
/*-moz-background-size: cover;*/
/*-o-background-size: cover;*/
/*background-size: cover;*/
/*}*/

#labs-logo{
    float: right;
    margin-top: 100px;
}

.multimate-logo {
    float: left;
}

.english-only{
    font-size: 24px;
    color: #888789
}

.spinner{
    float: left;
}

.fa-3x{
    font-size: 8em;
}

#loading-container{
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
}

#loading-spinner{
    display: none;
}


.breadcrumb{
    display: none;
    background-color: transparent;
    color: #0f0e11;
    font-size: 1.2em;
}

.breadcrumb a {
    color: #0f0e11;
}

#container-product{
    display: none;
    margin: 15px;
    float: right;
    margin-top: 0;
}

#breadcrumb-container{
    margin: 0;
    padding: 0;
}

.follow-up-container {
    display: none;
    background: #ffd540;
}

#product h1{
    margin: 0;
    font-size: 1.5em !important;
}

#suggestion-products-container{
    display: none;
    margin-top: 50px;
}

#suggestion-products-container img{
    max-width:100%;
}

#suggestion-products-container h1{
    font-weight: 100;
}
#suggestion-products-container h3{
    font-size: 18px;
}

#suggestion-products-container .col-md-3{
    width: 25%;
    border: 10px solid #ecece8;
    background: white;
    height: 300px;
}

.product-location{
    font-size: 4em;
}

#footer-container{
    /*margin-top: 100px;*/
}

#hammer-list-container{
    margin-top: 50px;
}

#hammer-list-container ul{
    list-style-type: none;
    text-align: center;
    font-size: 26px;
    color: white;
}

#hammer-list-container li{
    margin-top: 20px;
}

.positie2{
    float: right;
}

#container-classic{
    display: none;
    margin-top: 150px;
}

audio, canvas, progress, video{
    /*display: none;*/
}

.product-name{
    font-size: 2em !important;
    font-weight: 400 !important;
}

.product-description{

}

.product-price{
    font-size: 3.125rem;
    font-weight: bold;
}

#goodbye-text{
    display: none;
}


